@use "../dist/mixins.scss" as *;
@use "../dist/tokens.css";

.colors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(185px, 1fr));
  gap: 20px; /* spacing between grid items */
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;
  .card-wrapper {
    @include column-between-center;
    text-align: center;
    outline: 0.5px solid var(--tertiary-border-base);
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: var(--shadows-md);
    gap: 5px;
  }
}
